@import url('blocks/text.css');
@import url('blocks/home-page.css');
@import url('blocks/svg.css');
@import url('blocks/pre-loader.css');
@import url('blocks/menu.css');
@import url('blocks/page.css');



* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	font-weight: normal;
}

body {
	overflow-x: hidden;
	font-size: 1em;
}

.content-container {
	padding-right: 15px;
	position: relative;
	display: flex;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
}

.inner-container {
	width: 100%;
}

.p-case {
	min-height: 100%;
}

.content-container_white {
	animation: colorBg .5s both;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
